@font-face {
  font-family: contm;
  src: url("contm");
}

* {
  padding: 0;
  margin: 0;
  font-family: continuum !important;
}

.light {
  color: #ffffff !important;
  background-color: #ffffff !important;
}

.light_text {
  color: #151515;
}

.dark {
  color: #151515 !important;
  background-color: #151515 !important;
}

.dark_text {
  color: #ffffff;
}

/* navbar */
.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  height: 30px;
}

.nav-link {
  height: 2rem;
  padding: 0px;
  color: #151515 !important;
  font-size: 1.3rem !important;
}

.nav-link img {
  width: 100%;
  height: 100%;
}

.active>.nav-link {
  color: #a52b2b !important;
  font-weight: bold !important;
}

.toright {
  text-align: right;
}

/* carousel */
.carousel-indicators li {
  background-color: rgba(0, 0, 0, .5) !important;
  height: 6px;
}

.carousel-indicators .active {
  background-color: rgb(165, 43, 43) !important;
}

.carousel-control-prev-icon {
  visibility: hidden;
}

.container {
  padding-top: 50px;
}

.slot {
  height: 200px;
  text-align: center;
  padding-top: 160px;
  text-shadow: 0 0 10px #555, 0 0 5px #333;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://picsum.photos/500/200/?random);
}
