@font-face {
  font-family: contm;
  src: url("contm");
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: continuum !important;
}

body {
  height: 100%;
}

.semi-light {
  background-color: #f6f6f6 !important;
}

.light {
  background-color: #ffffff !important;
}

.light_text {
  color: #151515;
}

.dark {
  color: #151515 !important;
  background-color: #151515 !important;
}

.dark-text {
  color: #ffffff !important;
}

/* navbar */
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  height: 30px;
}

.nav-link {
  height: 2rem;
  padding: 0px;
  color: #151515 !important;
  font-size: 1.3rem !important;
}

.nav-link:hover {
  color: white;
}

.active:hover {
  text-shadow: none;
}

.nav-link img {
  width: 100%;
  height: 100%;
}

.active>.nav-link {
  color: #a52b2b !important;
  font-weight: bold !important;
}

.toright {
  text-align: right;
}

/* carousel */
.carousel-indicators li {
  background-color: rgba(0, 0, 0, .5) !important;
  height: 6px;
}

.carousel-indicators .active {
  background-color: rgb(165, 43, 43) !important;
}

.carousel-control-prev-icon {
  visibility: hidden;
}

.container {
  padding-top: 50px;
}

.slot {
  height: 250px;
  text-align: center;
  padding-top: 160px;
  text-shadow: 0 0 10px #555, 0 0 5px #333;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://picsum.photos/1920/300/?random);
}

.out-note, .out-note-pass {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(21, 21, 21, 0.5);
  z-index: 20;
  cursor: pointer;
  display: none;
}

.note {
  width: 100%;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  background-color: #ffffff;
  color: #151515;
  padding: 40px 200px;
  font-size: 30px;
}

.note>h2 {
  font-size: 40px;
  color: #a52b2b;
  font-weight: bold;
}

/* login Regiter */
.btn-primary {
  background-color: #151515;
  border-color: #151515;
}

.btn-primary:hover {
  background-color: #a52b2b;
  border-color: #a52b2b;
}

.no_textdecoration {
  text-decoration: none !important;
}

.text_highlight {
  width: auto !important;
  padding-right: 0;
}

.text_highlight:hover {
  color: #a52b2b !important;
}

label {
  color: #151515;
}

/* User */
.user-image {
  border-radius: 5%;
  width: 150px;
  height: 150px;
  background: #151515;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.user-name {
  vertical-align: top;
  font-size: 70px;
  color: #ffffff;
}

.user-profile {
  padding-top: 50px;
  color: #151515;
}

.user-mini {
  border-radius: 10%;
  width: 32px;
  height: 32px;
  background: #151515;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.user-profile>h1 {
  color: #a52b2b;
  font-weight: bold;
}

.blank {
  width: 100%;
  height: 150px;
  background-color: #3d3d3d;
  margin-bottom: -150px;
}

.top-banner {
  height: 100px;
}

#user2, #user3 {
  display: none;
}

.purchase-cover-icon {
  width: 70px;
  padding-bottom: 50px;
  text-align: center;
}

.purchase-icon {
  font-size: 56px;
  padding-top: 4px;
  margin: 0 auto;
}

.purchased-colum {
  height: 73px
}

.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Float Label Form*/
.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  cursor: text;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 100%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  margin-left: -12px;
}

/* Footer */
.page-footer {
  background-color: #151515;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-copyright {
  border-top: 1px solid #ffffff;
}

.page-footer a {
  color: #a52b2b;
  text-decoration: none;
}

.footer-compensate {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 350px;
}

@media only screen and (max-width: 767px) {
  .footer-compensate {
    padding-bottom: 750px;
  }
}

.slot-purchase {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.shade {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /*border: .0625rem solid rgba(0, 0, 0, .08);*/
  /*border-radius: .375rem;*/
}

#purchases-image {
  height: 250px;
  border-left: 16px solid #ffffff;
  border-right: 16px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://picsum.photos/1920/300/?random);
}

.specs {
  height: 210px;
}

.specs-half {
  height: 105px;
}

.specs-half>.col-4>.d-inline-block>span {
  font-size: 21px;
}

.specs-half>.col-4>.d-inline-block>p {
  font-size: 25px;
  margin-top: -11px;
}

.specs>div>p {
  margin-top: -10px;
}

.spec-icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.slot-1 {
  background-image: url(img/spec-size.svg);
}

.slot-2 {
  background-image: url(img/spec-ram.svg);
}

.slot-3 {
  background-image: url(img/spec-storage.svg);
}

.slot-4 {
  background-image: url(img/spec-battery.svg);
}

.slot-5 {
  background-image: url(img/spec-processor.svg);
  background-size: 40px 40px;
}

.slot-6 {
  background-image: url(img/plus.svg);
}

.purchase-copy {
  height: 299px;
  width: 100%;
  background-color: black;
  z-index: 40;
  margin-top: -299px;
}

.hide-input {
  background: transparent;
  border: none;
}

.pointer {
  cursor: pointer !important;
}

.user_yes {
  display: none;
}

.user_no {
  display: none;
}

.logout {
  font-size: 0.8rem !important;
  padding-top: 9px;
}

.progress{
  width: 100%;
}

.product-phone {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(img/decoy.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.product-box{
  height:500px;
}

.product-price{
  font-size:40px;
  color:green;
}

.product-detail{
  width:150px;
}

.product-type{
  border-radius: 5px;
  width:280px;
  margin: 0 auto;
  cursor: pointer;
}

.product-circle {
  display:inline-block;
  box-shadow: 0px 0px 2px  black;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.active-color-black{
  border-bottom:6px solid #151515;
}

.active-color-white{
  border-bottom:6px solid #ffffff;
}
